.fundotela{
    background-color: black;
    color: white;
}

.tituloprincipal {
    color: red;
}

.img {
    margin: auto;
    display: block;
    width: 40%;
}

.captioncenter{
    text-align: left;
}